### GA NTRIP CONFIGURATION ###
GA_NTRIP_USER=username
GA_NTRIP_PASSWORD=password123
GA_NTRIP_HOST=ntrip.data.gnss.ga.gov.au
GA_NTRIP_PORT=2101
GA_NTRIP_MOUNT=COMA00AUS0
GA_NTRIP_USE_CLOSEST=false

# From ntrip to GNSS device
GA_NTRIP_OUTPUT_MODE=serial
GA_NTRIP_OUTPUT_DEVICE=ttyS0
GA_NTRIP_OUTPUT_BAUDRATE=38400
# Settings if mode is tcp
GA_NTRIP_OUTPUT_HOST=localhost
GA_NTRIP_OUTPUT_PORT=2101

API_BASE_URL=http://localhost:3000/api
