### Node.js options ###
# Use --inspect to enable the Node.js inspector for debugging
NODE_OPTIONS=--inspect

### PRISMA DATABASE URLS
PRISMA_DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

### BETTER AUTH CONFIGURATION ###
BETTER_AUTH_SECRET=super-secret-code
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

### EMAIL CONFIGURATION ###
BREVO_API_KEY="super-secret-brevo-api-key"
EMAIL_HOST="smtp-relay.brevo.com"
EMAIL_PORT=587
EMAIL_USER="brevo-email-user@smtp-brevo.com"
EMAIL_PASSWORD="email-password"
EMAIL_FROM="no-reply@your-domain.com.au"

### CESIUM ION TOKEN ###
NEXT_PUBLIC_CESIUM_ION_TOKEN="super-secret-cesium-ion-token"
