GA_NTRIP_USER='usernamefromntripprovider'
GA_NTRIP_PASSWORD='passwordfromntripprovider'
GA_NTRIP_HOST=ntrip.data.gnss.ga.gov.au
GA_NTRIP_PORT=443
GA_NTRIP_MOUNT=COMA00AUS0
GA_NTRIP_USE_CLOSEST=true
GA_NTRIP_CLOSEST_ENDPOINT="http://localhost:3000/api/gnss/cors?closestNtripPath=true"

GNSS_SOURCE=gpsd
GPSD_PORT=2947
GPSD_HOST=127.0.0.1
GPSD_RECONNECT_MS=3000
GNSS_READ_DEVICE="/dev/ttyUSB0"
GNSS_READ_BAUDRATE=57600
GNSS_POST_INTERVAL_MS=1000
GNSS_INGEST_URL="http://localhost:3000/api/gnss/position"
GNSS_INTERNAL_TOKEN=""
GNSS_STATUS_FILE="/tmp/agnerd-gnss-status.json"
GNSS_STATUS_FALLBACK_FILE="/var/tmp/agnerd-gnss-status.json"